<div id="mainLandingPage">
  <div id="topStrip">
      <div id="leftPart">
        <span><i class="fa fa-building"></i></span>
        <span class="homeTxt">Home</span>
      </div>
  </div>

  <div id="divMiddle">
    <div class="congrtsTxt">
        <span>Welcome <b>John.</b> Looks Like It's Your First Time Here.</span>
    </div>
    <div class="creatAccTxt">
        <span>Let's Get Started with setting up your project</span>
    </div>
    <div id="LaunchBtn">
        <div class="leftSide">
            <div id="launchApps">
                <button type="button" class="btn btn-warning" (click)="launchApplication()">Yes let's get started</button>
            </div>
        </div>
        <div class="rightSide">
            <div id="launchApps">
                <button type="button" class="btn btn-warning1" (click)="launchApplication()">No,I'll do it later </button>
            </div>
        </div>
    </div>
    
    
</div>
</div>